.ql-editor{
  padding-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 110px;
  font-family: "Inter";
  font-size: 25px;
  font-weight: 400;
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
  transition: all 1.5s ease 0.2s;
}

.ql-snow  .ql-editor > h1:first-child {
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 50px;
}

.ql-snow .ql-editor h1{
    font-size: 25px;
    font-weight: 400;
    font-size: 1.5em;
}

.ql-container.ql-snow {
    border: none;
  }

.ql-toolbar.ql-snow{
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0px;
    position: fixed;
    z-index: 3;
}
/* Правило для Firefox */
@supports (width: -moz-available) {
    .ql-toolbar.ql-snow {
        width: -moz-available;
    }
}
/* Правило для WebKit-браузеров (Chrome, Safari) */
@supports (width: -webkit-fill-available) {
    .ql-toolbar.ql-snow {
        width: -webkit-fill-available;
    }
}
.ql-snow.ql-toolbar:after{
    display: none;
}





.ql-snow.ql-toolbar button, .ql-snow.ql-toolbar .ql-color-picker{
    height: 39px;
    width: 39px;
}

.ql-snow .ql-stroke{
    stroke: #b7b7b7;
}
.ql-snow .ql-fill{
    fill: #b7b7b7;
}

.ql-snow.ql-toolbar .placer{
    height: 2px;
    width: 25px;
}

.ql-snow .ql-editor img {
    max-width: 33%;
}

/* .ql-snow.ql-toolbar .ql-image{
    background-image: url(../ico/img.png);
    background-size: contain; /* настройте размер изображения 
    background-position: center;
    background-repeat: no-repeat; /* убедитесь, что изображение не повторяется 
}

.ql-snow.ql-toolbar .ql-image > *{
    display: none;
} 
*/


.grey-text {
    color: grey;
    font-size: 14px;
  }



.context-menu button {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #787070;
    border-left: none;
    border-right: none;
    overflow: hidden;
    z-index: 1;
    position: relative;
  }